.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8rem ;
  background-color: #131313;
  color: #fff;
}
.about-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  /*margin-top: 25px;*/
  color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 4px 2px -2px rgba(226, 225, 225, 0.2);
  width: 20%;
}
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);*/
  align-items: center;
  column-gap: 6rem;
  max-width:1100px;
  position: relative;
  height: 100vh;
  /*
  margin-left:auto;
  margin-right:auto;
  */
}
.about-img {
  position: relative;
  align-items: center;
  bottom: 65px;
  width: 450px;
  height: auto;
  border-radius: 1.5rem;
  justify-self: center;
}
.cv-icon {
  position: relative;
  left: 3px;
  font-size: 1.25rem;
  color: #fff;
}
.about-desc {
  padding: 0 4rem 0 0;
  margin-bottom: 2.5rem;
  font-size: 20px;
  color: #fff;
}
.download-btn {
  position: relative;
  top: 0;
  display: inline-flex;
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #e1e3e7;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #e7e1e100;
  outline-offset: 0.6em;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  border: 0;
  gap: 5px;
  margin: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.download-btn:hover,
.download-btn:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.download-btn:active {
  background: var(--color);
  color: #fff;
}
@media screen and (max-width: 992x){
  .about-container{
    display: flex;
    flex-direction: column;
  }
  .about-data{
    display: flex;
    flex-direction: column;
  }
}
