.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0 2rem;
  background-color: #131313;
  padding-bottom: 50px 0;
}
.about-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  /*margin-top: 25px;*/
  color: #d6edf1;
}
.about-subtitle {
  font-size: 1.35rem;
  display: block;
  font-weight: 400;
  padding-top: 10px;
  margin-bottom: 4rem;
  color: #d6edf1;
  text-align: center;
}
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);*/
  align-items: center;
  column-gap: 6rem;
  max-width: 1200px;
  /*
  margin-left:auto;
  margin-right:auto;
  */
}
.about-img {
  width: 450px;
  height: auto;
  border-radius: 1.5rem;
  justify-self: center;
}
.download-btn {
  display: inline-flex;
  background-color:#e2f3f7;
  color: rgba(15, 15, 15, 0.904);
  position: relative;
  top: 20px;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-weight: 600;
  align-items: center;
  font-size: 20px;
  gap: 5px;
  margin: 15px;
}
.download-btn:hover {
  background-color:#42c4c4c0;
}
.cv-icon {
  position: relative;
  left: 3px;
  font-size: 1.25rem;
  color: black;
}
.about-desc {
  padding: 0 4rem 0 0;
  margin-bottom: 2.5rem;
  font-size: 20px;
  color: #ecfbfd;
}
