.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0 2rem;
  background-color: #131313;
  color: #fff;
}
.top-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 20px;
  padding-bottom: 45px;
  color: #fff;
}
.heading-subtitle {
  color: #fff;
  display: block;
  font-size: 1.35rem;
  padding-top: 10px;
  margin-bottom: 4rem;
}
.contact-container {
  max-width: 1024px;
  grid-template-columns: repeat(2, max-content);
  column-gap: 5rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  display: grid;
  gap: 5.5rem;
}
.contact-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.contact_info {
  display: grid;
  gap: 1.5rem;
  grid-row: 1rem;
  grid-template-columns: 300px;
}
.contact-card {
  background-color: #212121;
  box-shadow: rgba(48, 46, 46, 0.4) 10px 20px 30px,
    rgba(0, 0, 0, 0.3) 10px 1px 53px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
  border: 1px solid rgba(19, 18, 18, 0.836);
  padding: 25px;
  margin: 12px;
  text-align: center;
  border-radius: 0.75rem;
  text-align: center;
  transition: all 0.5s;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: #fff;
}
.contact-card:active {
  transform: scale(0.95) rotateZ(1.1deg);
}
.contact-card:hover {
  transform: scale(1.021);
}
.contact-form {
  width: 360px;
}
.card-icon {
  font-size: 1.35rem;
  color: white;
  margin-bottom: 0.25rem;
}
.contact-card-title,
.contact-card-data {
  font-size: 1.25rem;
}
.contact-card-title {
  font-weight: 500;
}
.contact-card-data {
  display: block;
  margin-bottom: 0.75rem;
}
.contact-button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  justify-content: center;
  color: #fff;
  font-size: 0.813;
  text-decoration: none;
}
.write-me-icon {
  font-size: 1.25rem;
  transition: 0.3sec;
  color: #ffff;
}
.contact-button:hover.write-me-icon {
  transform: translate(0.25rem);
}
.form-div {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}
.input-area {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(43, 41, 41);
  background: none;
  color: #fff;
  outline: none;
  border-radius: 0.75rem;
  font-size: 0.975rem;
  padding: 1.5rem;
  z-index: 1;
  box-shadow: 0px 10px 20px -18px;
  align-items: center;
  justify-content: center;
}
.input-area:focus {
  border-bottom: 3px solid #5054c0;
  border-radius: 4px 4px 2px 2px;
}

.input-area:hover {
  outline: 1px solid rgb(194, 191, 191);
}
.tag-name {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  font-size: 1rem;
  padding: 0.25rem;
  z-index: 10;
  background-color:#131313 ;
}

.send-button{
  margin-top: 25px;
  background-color: transparent;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease-in, transform 0.3s ease;
  font-size: 18px;
  font-weight: 500;
  border: none;
  box-shadow: 0px 2px 6px rgb(43, 41, 41);
}

.send-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ffff;
  color: black;
  opacity: 0;
  transition: width 0.7s ease-in-out, opacity 0.9s ease;
}
.send-button:hover {
  transform: scale(1.05);
}

.send-button:hover:before {
  width: 100%;
  opacity: 0.6;
}

.send-button:active {
  background-color: #76a6ca;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  transform: scale(0.98);
}

.contact-form-area {
  height: 11rem;
}
.contact-form-area textarea {
  resize: none;
}
.message-icon {
  position: relative;
  left: 2px;
  top: 2px;
  font-size: 1.35rem;
  color: white;
  margin-left: 0.5rem;
}

@media screen and (max-width: 992px) {
  .contact-container {
    column-gap: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
  .contact_info {
    justify-content: center;
  }
  .contact-form {
    justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .contact_info {
    grid-template-columns: 1fr;
  }
  .contact-form {
    width: 100%;
  }
}
