.home-section {
  display: grid;
  color: #fff;
  background-color: #131313;
}
.home-container {
  position: relative;
  top: 0;
  display: grid;
  gap: 1.5rem;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
 /* padding-bottom:6rem;*/
 
}
.home-content {
  position: relative;
  top: 0;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-top:0; 
}
.home-img {
  background-image: url(../utils//img3.3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 360px;
  height: 360px;
  border-radius: 9999px;
  box-shadow: rgba(224, 220, 220, 0.24) 0px 8px 20px;
  justify-self: flex-start;
}
.social-container {
  display: flex;
  flex-direction: column;
}
.wave-hand {
  display: flex;
  flex-direction: column;
}
.home-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  margin-right: 0.5rem;
  color: #fff;
}
.hello-icon {
  width: 65px;
  height: 65px;
  margin-left: 0.5rem;
  background-color: none;
}
.home-subtitle {
  font-family: Monospace;
  position: relative;
  font-size: 1.35rem;
  padding-left: 5rem;
  font-weight: 400;
  margin-bottom: 0.75rem;
  padding-top: 8px;
}
.home-subtitle::before {
  content: "";
  position: absolute;
  width: 62px;
  height: 1px;
  background-color: #fff;
  top: 1.3rem;
  left: 0;
}
.home-desc {
  max-width: 400px;
  margin-bottom: 1.5rem;
}
.msg-icon {
  color: #fff;
  font-size: 22px;
  position: relative;
  top: 2px;
  font-weight: 600;
}

.social-div {
  position: relative;
}
.hello-btn {
  font-family: Monospace;
  gap: 1rem;
  align-items: center;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
  padding-top: 0;
  border: 1px solid transparent;
  box-shadow: 0 4px 2px -2px rgba(226, 225, 225, 0.2);
}

.hello-btn:before {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all 0.42s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 0;
}

.hello-btn:hover:before {
  background-color: #fff;
  width: 3.5rem;
}

@media screen and (max-width: 992px) {
  .home-container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 45px;
  }
  .home-content {
    display: flex;
    flex-direction: column;
  }
  .hello-icon {
    width: 50px;
    height: 50px;
    margin-left: 0.2rem;
  }
  .home-title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    padding-top: 15px;
  }
  .hello-btn {
    padding: 1rem 1.75rem;
  }
}

@media screen and (max-width: 768px) {
  .home-content {
    display: flex;
    flex-direction: column;
  }
  .home-img {
    width: 250px;
    height: 250px;
  }
  .home-section{
    padding: 2rem 0 4rem;
  }
  .home-data{
    justify-content: center;
    align-items: center;
   }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
 .home-data{
  justify-content: center;
  align-items: center;
 }
}

@media screen and (max-width:450px) {
  .home-img {
    width: 190px;
    height: 190px;
  }
  .hello-icon{
    width:40px;
    height:40px;
  }
  .home-subtitle::before{
    width: 40px;
  }
  .home-subtitle{
    align-items: center;
    padding-left: 3rem;
  }
  .home-data{
   justify-content: center;
   align-items: center;
  }
}