.home-section {
  display: grid;
  /*flex-direction: column;
  justify-content: center;*/
  padding: 6rem 0 2rem;
  color: #fff;
  background-color: #131313;
}
.home-container {
  position: relative;
  top: 0;
  display: grid;
  gap: 1.5rem;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  /*grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 6rem;*/
}
.home-content {
  position: relative;
  top: 0;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.home-img {
  background-image: url(../utils//img3.3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 390px;
  height: 380px;
  border-radius: 9999px;
  box-shadow: rgba(224, 220, 220, 0.24) 0px 8px 20px;
  justify-self: flex-start;
}
.social-container {
  display: flex;
  flex-direction: column;
}
.wave-hand {
  display: flex;
  flex-direction: column;
}
.home-title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  margin-right: 0.5rem;
  color: #fff;
}
.hello-icon {
  width: 70px;
  height: 70px;
  margin-left: 0.5rem;
  background-color: none;
}
.home-subtitle {
  font-family: Monospace;
  position: relative;
  font-size: 1.35rem;
  padding-left: 5.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
  padding-top: 8px;
}
.home-subtitle::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 1px;
  background-color: #fff;
  top: 1.2rem;
  left: 0;
}
.home-desc {
  max-width: 400px;
  margin-bottom: 3rem;
}
.msg-icon {
  color: #fff;
  font-size: 24px;
  position: relative;
  top: 2px;
  font-weight: 600;
}

/*hello-btn {
  display: inline-flex;
  background-color: #e2f3f7;
  color: rgba(15, 15, 15, 0.904);
  position: relative;
  top: 0;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-weight: 600;
  align-items: center;
  font-size: 20px;
  gap: 8px;
  margin: 15px;
}
.hello-btn:hover {
  background-color: rgba(199, 199, 199, 0.473);
  color: rgba(0, 0, 0, 0.973);
}*/

.social-div {
  position: relative;
}
.hello-btn {
  font-family: Monospace;
  gap: 1rem;
  align-items: center;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
  padding-top: 0;
  border: 1px solid transparent;
  box-shadow: 0 4px 2px -2px rgba(226, 225, 225, 0.2);
}

.hello-btn:before {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all 0.42s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 0;
}

.hello-btn:hover:before {
  background-color: #fff;
  width: 3.5rem;
}

@media screen and (max-width: 992px) {
  .home-content {
    display: flex;
    flex-direction: column;
  }
  .hello-icon {
    width: 50px;
    height: 50px;
    margin-left: 0.2rem;
  }
  .home-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    padding-top: 25px;
  }
  .hello-btn {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .home-content {
    display: flex;
    flex-direction: column;
  }
  .home-img {
    width: 250px;
    height: 250px;
  }
}
