.work-filters {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  margin-bottom: 2rem;
}
.work-item{
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;
  border: none;
  outline: 2px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  background: hsl(0, 0%, 41%);
  box-shadow: inset -2px -2px #292929, inset 2px 2px #fff, inset -2px -2px rgb(158, 158, 158), inset 3px 3px #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px 45px;
}

.work-item:active {
  box-shadow: inset -3px -3px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 3px 3px rgb(158, 158, 158);
}

/*active work*/
.active-work {
  background-color: #fffcfc;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(110, 110, 110, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #0d0d0e;
  cursor: pointer;
  display: inline-flex;
  letter-spacing: 3px;
  padding: 10px 45px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  transition: box-shadow .15s,transform .15s;
  font-size: 18px;
 }
 
 .active-work:focus{
  box-shadow: #aeaeaf 0 0 0 1.5px inset, rgba(79, 78, 80, 0.4) 0 2px 4px, rgba(76, 76, 77, 0.3) 0 7px 13px -3px, #000000 0 -3px 0 inset;
 }
 
 .active-work:hover{
  box-shadow: rgba(59, 59, 59, 0.3) 0 4px 8px, rgba(62, 62, 63, 0.2) 0 7px 13px -3px, #0f0f0f 0 -3px 0 inset;
  transform: translateY(-4px);
 }
 
 .active-work :active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
 }

.work-section {
  padding: 6rem 0 2rem;
  background-color: #131313;
  color:#fff ;
}
.section-title {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  font-weight: 500;
  padding-bottom: 35px;
}
.work-container {
  display: grid;
  /*gap: 1.5rem;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;*/
  grid-template-columns: repeat(3, max-content);
  gap: 3.5rem;
  justify-content: center;

  
}


@media screen and (max-width: 992px) {
  .work-container {
    gap: 1.25rem;
  }
  .card {
    padding: 1rem;
  }
  .card-img {
    margin-bottom: 0.75rem;
  }
  .card-title {
    margin-bottom: 0.25rem;
  }
}
@media screen and (max-width: 768px) {
  .work-container {
    grid-template-columns: max-content;
  }
}
@media screen and (max-width: 576px) {
  .work-container {
    gap: 1.25rem;
  }

  .card-img {
    margin-bottom: 0.75rem;
  }
}
@media screen and (max-width: 300px) {
  .work-container {
    grid-template-columns: 1fr;
  }

  .card-img {
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .work-item {
    font-size: 0.875rem;
  }
  .work-filters {
    column-gap: 0.25rem;
  }
}
