.work-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.85rem;
  margin-bottom: 2rem;
}
.work-item {
  color: black;
  padding: 0.25rem 0.75rem;
  background-color: aliceblue;
  font-weight: 500;
  border-radius: 0.5rem;
  text-transform: capitalize;
  cursor: pointer;
}
/*.work-item:hover{
    /*background-color:;
    transition / color
   
}*/

.work-section {
  padding: 6rem 0 2rem;
  background-color: #131313;
  color:#d6edf1 ;
}
.section-subtitle {
  display: block;
  font-size: 1.35rem;
  margin-bottom: 4rem;
  text-align: center;
}
.section-title {
  font-size: 2.5rem;
  color: #d6edf1;
  text-align: center;
}
.work-container {
  display: grid;
  /*gap: 1.5rem;*/
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(2, max-content);
  gap: 3rem;
  justify-content: center;

  
}
.card {
  background-color: rgba(255, 254, 251, 0.911);
  border: 1px solid rgb(158, 156, 156);
  padding: 1.25rem;
  border-radius: 1rem;
  
  /*box-shadow*/
}
.card-img {
  width: 300px;
  height: auto;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  padding-top: 20px;
  margin-bottom: 0.5rem;
  color: rgba(15, 15, 15, 0.904);
}
.card-button {
  color: rgba(15, 15, 15, 0.904);
  font-size: 18px;
  font-weight: 550;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}
.card-icon {
  font-size: 1.4rem;
  position: relative;
  top: 4px;
  left: 4px;
  /*transition:0.4s*/
}
.card-button:hover .card-icon {
  transform: translateX(0.25rem);
}
/*active work*/
.active-work {
  background-color: rgb(236, 181, 181);
  color: white;
}
@media screen and (max-width: 992px) {
  .work-container {
    gap: 1.25rem;
  }
  .card {
    padding: 1rem;
  }
  .card-img {
    margin-bottom: 0.75rem;
  }
  .card-title {
    margin-bottom: 0.25rem;
  }
}
@media screen and (max-width: 768px) {
  .work-container {
    grid-template-columns: max-content;
  }
}
@media screen and (max-width: 576px) {
  .work-container {
    gap: 1.25rem;
  }

  .card-img {
    margin-bottom: 0.75rem;
  }
}
@media screen and (max-width: 300px) {
  .work-container {
    grid-template-columns: 1fr;
  }

  .card-img {
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .work-item {
    font-size: 0.875rem;
  }
  .work-filters {
    column-gap: 0.25rem;
  }
}
