.top-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 
  width: 2rem;
  height: 2rem;
  background-color: #030303;
  overflow: hidden;
  cursor:pointer;
}
.scroll-up-icon{
color:#fff;
font-size: 1.28rem;
}