.top-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  cursor: pointer;
}
.scroll-up-icon {
  color: #cfcfcf;
  font-size: 24px;
}
.top-btn,
.scroll-up-icon:hover {
  transform: scale(1.25);
}
